@using System
@using System.Collections.Generic
@using System.Linq

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="EXPIRES" content="0">
		<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
		<meta http-equiv="PRAGMA" content="NO-CACHE">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Visualutions Inc. Scheduler</title>
		<style>
			@(@"[[bootstrap.min.css]]")
		</style>
		<style>
			@(@"[[font-awesome.min.css]]")
		</style>
		<style>
			@(@"[[bootstrap-datepicker3.min.css]]")
		</style>
		<style>
			.gridView {	height: 200px; background-color: #434343; background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent); background-size: 50px 50px; box-shadow: 4px 4px 5px #888888; }.shadowed { -webkit-filter: drop-shadow(6px 6px 15px rgba(0,0,0,0.5)); filter: url(#drop-shadow); -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')"; filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')"; }.panel-shadowed { box-shadow: 3px 3px 16px rgba(0,0,0,0.5); }
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" style="margin-top: 26px;">
				<div class="col-xs-12" id="main-content"></div>
			</div>
		</div>

		@(@"[[_templates.html]]")

		<script>
			//<!-- 
			@(@"[[combined.min.js]]")
			//-->
		</script>
		<script>
			//<!--
			@(@"[[bootstrap-datepicker.min.js]]")
			//-->
		</script>
		<script>
			//<!--
			@(@"[[Scheduler.js]]")
			//-->
		</script>
	</body>
</html>